services:
  - type: web
    name: test-live-v3-free-moderation
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: PORT
        value: "3000"
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_KEY
        sync: false
      - key: MODERATION_ENDPOINT
        sync: false
